<div class="mainScreen">
		<div class="row marginBottom">
			<div class="fighterListing carListing">
				<ul id="sortable1" class='droptrue'>
            		<li id="leftPanel" data-filter-item data-filter-name="leftPanel">
            			<div class="listBlock">
		                    <ul id="sortable1" class='droptrue'>

								{{#each users }}
		                        <li id="{{ _id }}" data-filter-item data-filter-name="car">
		                        	<div class="userItem">
		                        		<i class="bi bi-person"></i>
		                        		<h3>{{ name }}</h3>
		                        		<div class="fighterBattre">
											{{#generateSequence battery }}
		                        			    <span></span>
											{{/generateSequence }}
		                        		</div>
		                        	</div>
		                        </li>
								{{/each}}

		                    </ul>
		                </div>
		                <span class="moveDrag"><i class="bi bi-arrows-move"></i></span>
            		</li>
            	</ul>
			</div>
		</div>

		{{#each vehiclesWithUsers }}
		<div class="row marginBottom">
			<div class="carListing">
				<ul id="{{ vehicle._id }}" class='droptrue'>
            		<li id="leftPanel" data-filter-item data-filter-name="leftPanel">
            			<div class="listBlock">
		                    <ul id="{{ vehicle._id }}" class='droptrue'>
		                        <li id="car" data-filter-item data-filter-name="car">
		                        	<img src="{{ baseUrl }}/uploads/{{ vehicle.image }}">
		                        </li>
								{{#if new_users }}
		                        {{#each new_users}}
											<li id="{{ _id }}" data-filter-item data-filter-name="car">
											<div class="userItem">
												<i class="bi bi-person"></i>
												<h3>{{ name }}</h3>
												<div class="fighterBattre">
													{{#generateSequence battery }}
														<span></span>
													{{/generateSequence }}
												</div>
											</div>
		                                   </li>
                                {{/each}}
								{{/if}}
		                    </ul>
		                </div>
		                <span class="moveDrag"><i class="bi bi-arrows-move"></i></span>
            		</li>
            	</ul>
			</div>
		</div>
		{{/each}}


		{{!-- {{#each vehicles }}
		<div class="row marginBottom">
			<div class="carListing">
				<ul id="{{ _id }}" class='droptrue'>
            		<li id="leftPanel" data-filter-item data-filter-name="leftPanel">
            			<div class="listBlock">
		                    <ul id="{{ _id }}" class='droptrue'>
		                        <li id="car" data-filter-item data-filter-name="car">
		                        	<img src="{{ baseUrl }}/uploads/{{ image }}">
		                        </li>
		                        
		                    </ul>
		                </div>
		                <span class="moveDrag"><i class="bi bi-arrows-move"></i></span>
            		</li>
            	</ul>
			</div>
		</div>
		{{/each}} --}}

		<div class="row secoundStep">
			<div class="leftside">
				<ul id="sortable1" class='droptrue carfeildList'>
					
				</ul>
			</div>
			<div class="building">
				<h4>Roof</h4>
				<img src="{{ baseUrl }}/assets/frontend/image/house.png">
				<h4>Basement</h4>
			</div>
			<div class="rightside">
				<ul id="sortable1" class='droptrue carfeildList'>
					
				</ul>
			</div>
		</div>

		<div class="row therdStep">
			<div class="carGareg">
				<h4 class="headdingRes">Reserve Vehicle</h4>
				<ul id="sortable1" class='droptrue careserve'>
					<li id="car" data-filter-item data-filter-name="car">
                    	<img src="{{ baseUrl }}/assets/frontend/image/car.png">
                    	<span>Track-2455</span>
                    </li>
                    <li id="car" data-filter-item data-filter-name="car">
                    	<img src="{{ baseUrl }}/assets/frontend/image/car.png">
                    	<span>Track-2455</span>
                    </li>
                    <li id="car" data-filter-item data-filter-name="car">
                    	<img src="{{ baseUrl }}/assets/frontend/image/car.png">
                    	<span>Track-2455</span>
                    </li>
                    <li id="car" data-filter-item data-filter-name="car">
                    	<img src="{{ baseUrl }}/assets/frontend/image/car.png">
                    	<span>Track-2455</span>
                    </li>
				</ul>
			</div>
			<div class="carGareg">
				<h4 class="headdingRes">Reserve FireFighter</h4>
				<ul id="sortable1" class='droptrue reserveFire'>
					<li id="leftPanel" data-filter-item data-filter-name="leftPanel">
            			<div class="listBlock">
		                    <ul id="sortable1" class='droptrue'>
		                        <li id="car" data-filter-item data-filter-name="car">
		                        	<div class="userItem">
		                        		<i class="bi bi-person"></i>
		                        		<h3>Jhon Deo</h3>
		                        		<div class="fighterBattre">
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        		</div>
		                        	</div>
		                        </li>
		                        <li id="car" data-filter-item data-filter-name="car">
		                        	<div class="userItem">
		                        		<i class="bi bi-person"></i>
		                        		<h3>Jhon Deo</h3>
		                        		<div class="fighterBattre">
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        		</div>
		                        	</div>
		                        </li>
		                        <li id="car" data-filter-item data-filter-name="car">
		                        	<div class="userItem">
		                        		<i class="bi bi-person"></i>
		                        		<h3>Jhon Deo</h3>
		                        		<div class="fighterBattre">
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        		</div>
		                        	</div>
		                        </li>
		                        <li id="car" data-filter-item data-filter-name="car">
		                        	<div class="userItem">
		                        		<i class="bi bi-person"></i>
		                        		<h3>Jhon Deo</h3>
		                        		<div class="fighterBattre">
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        		</div>
		                        	</div>
		                        </li>
		                        <li id="car" data-filter-item data-filter-name="car">
		                        	<div class="userItem">
		                        		<i class="bi bi-person"></i>
		                        		<h3>Jhon Deo</h3>
		                        		<div class="fighterBattre">
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        		</div>
		                        	</div>
		                        </li>
		                        <li id="car" data-filter-item data-filter-name="car">
		                        	<div class="userItem">
		                        		<i class="bi bi-person"></i>
		                        		<h3>Jhon Deo</h3>
		                        		<div class="fighterBattre">
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        		</div>
		                        	</div>
		                        </li>
		                    </ul>
		                </div>
		                <span class="moveDrag"><i class="bi bi-arrows-move"></i></span>
            		</li>
				</ul>
			</div>
			<div class="carGareg">
				<h4 class="headdingRes">Rehabilitation zone</h4>
				<ul id="sortable1" class='droptrue reserveFire rehabition'>
					<li id="leftPanel" data-filter-item data-filter-name="leftPanel">
            			<div class="listBlock">
		                    <ul id="sortable1" class='droptrue'>
		                        <li id="car" data-filter-item data-filter-name="car">
		                        	<div class="userItem">
		                        		<i class="bi bi-person"></i>
		                        		<h3>Jhon Deo</h3>
		                        		<div class="fighterBattred">
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        		</div>
		                        	</div>
		                        </li>
		                        <li id="car" data-filter-item data-filter-name="car">
		                        	<div class="userItem">
		                        		<i class="bi bi-person"></i>
		                        		<h3>Jhon Deo</h3>
		                        		<div class="fighterBattred">
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        		</div>
		                        	</div>
		                        </li>
		                        <li id="car" data-filter-item data-filter-name="car">
		                        	<div class="userItem">
		                        		<i class="bi bi-person"></i>
		                        		<h3>Jhon Deo</h3>
		                        		<div class="fighterBattred">
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        		</div>
		                        	</div>
		                        </li>
		                        <li id="car" data-filter-item data-filter-name="car">
		                        	<div class="userItem">
		                        		<i class="bi bi-person"></i>
		                        		<h3>Jhon Deo</h3>
		                        		<div class="fighterBattred">
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        		</div>
		                        	</div>
		                        </li>
		                        <li id="car" data-filter-item data-filter-name="car">
		                        	<div class="userItem">
		                        		<i class="bi bi-person"></i>
		                        		<h3>Jhon Deo</h3>
		                        		<div class="fighterBattred">
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        		</div>
		                        	</div>
		                        </li>
		                        <li id="car" data-filter-item data-filter-name="car">
		                        	<div class="userItem">
		                        		<i class="bi bi-person"></i>
		                        		<h3>Jhon Deo</h3>
		                        		<div class="fighterBattred">
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        			<span></span>
		                        		</div>
		                        	</div>
		                        </li>
		                    </ul>
		                </div>
		                <span class="moveDrag"><i class="bi bi-arrows-move"></i></span>
            		</li>
				</ul>
			</div>
		</div>
	</div>


	<section class="banner d-none">
		<div id="maincontainer">
		    <div id="navtoplistline">&nbsp;</div>
		    <div id="contentwrapper">
		        <div id="maincolumn">
		        	<div class="row staticDiv">
	                	<ul id="sortable1" class='droptrue leftSec'>
	                		<li id="leftPanel" data-filter-item data-filter-name="leftPanel">
	                			<div class="listBlock">
				                    <ul id="sortable1" class='droptrue'>
				                        <li id="car" data-filter-item data-filter-name="car">
				                        	<img src="images/trak.png">
				                        </li>
				                        <li id="truck" data-filter-item data-filter-name="truck">
				                        	<div class="userItem">
				                        		<div class="cardbox" id="drag3" draggable="true" ondragstart="drag(event)">
					                                <div class="crdprof clearfix">
					                                    <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
					                                    <div>
					                                        <h5>Alex Lima</h5>
					                                        <p class="p-0">Firefighting</p>
					                                    </div>
					                                </div>
					                                <div class="clifebx clearfix">
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                </div>
					                            </div>
				                        	</div>
				                        </li>
				                        <li id="train" data-filter-item data-filter-name="train">
				                        	<div class="userItem">
				                        		<div class="cardbox" id="drag3" draggable="true" ondragstart="drag(event)">
					                                <div class="crdprof clearfix">
					                                    <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
					                                    <div>
					                                        <h5>Alex Lima</h5>
					                                        <p class="p-0">Firefighting</p>
					                                    </div>
					                                </div>
					                                <div class="clifebx clearfix">
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                </div>
					                            </div>
				                        	</div>
				                        </li>
				                        <li id="bicycle" data-filter-item data-filter-name="bicycle">
				                        	<div class="userItem">
				                        		<div class="cardbox" id="drag3" draggable="true" ondragstart="drag(event)">
					                                <div class="crdprof clearfix">
					                                    <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
					                                    <div>
					                                        <h5>Alex Lima</h5>
					                                        <p class="p-0">Firefighting</p>
					                                    </div>
					                                </div>
					                                <div class="clifebx clearfix">
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                </div>
					                            </div>
				                        	</div>
				                        </li>
				                    </ul>
				                </div>
				                <span class="moveDrag"><i class="bi bi-arrows-move"></i></span>
	                		</li>
	                	</ul>
	                	<div class="topMiddile">
	                		<div class="headinText">
		                		<h1>Incident Management Screen</h1>
		                	</div>
		                	<div class="headingSec">
		                		<button class="startBtn">Start</button>
		                		<button class="endBtn">End</button>
		                	</div>
	                	</div>
	                	<ul id="sortable1" class='droptrue rightSec'>
		                	<li id="rghitPanel" data-filter-item data-filter-name="rghitPanel">
		                		<div class="listBlock">
				                    <ul id="sortable3" class='droptrue'>
				                    	<li id="car" data-filter-item data-filter-name="car">
				                    		<img src="https://media.istockphoto.com/photos/ambulance-car-isolated-on-white-picture-id1310709685?b=1&k=20&m=1310709685&s=170667a&w=0&h=7XfqzGhmPrZN6qaL7o_krZDm-Tna24KvuZnMJ9g0jt8=">
				                    	</li>
				                        <li id="truck" data-filter-item data-filter-name="truck">
				                        	<div class="userItem">
				                        		<div class="cardbox" id="drag3" draggable="true" ondragstart="drag(event)">
					                                <div class="crdprof clearfix">
					                                    <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
					                                    <div>
					                                        <h5>Alex Lima</h5>
					                                        <p class="p-0">Firefighting</p>
					                                    </div>
					                                </div>
					                                <div class="clifebx clearfix">
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                </div>
					                            </div>
				                        	</div>
				                        </li>
				                        <li id="train" data-filter-item data-filter-name="train">
				                        	<div class="userItem">
				                        		<div class="cardbox" id="drag3" draggable="true" ondragstart="drag(event)">
					                                <div class="crdprof clearfix">
					                                    <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
					                                    <div>
					                                        <h5>Alex Lima</h5>
					                                        <p class="p-0">Firefighting</p>
					                                    </div>
					                                </div>
					                                <div class="clifebx clearfix">
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                </div>
					                            </div>
				                        	</div>
				                        </li>
				                        <li id="bicycle" data-filter-item data-filter-name="bicycle">
				                        	<div class="userItem">
				                        		<div class="cardbox" id="drag3" draggable="true" ondragstart="drag(event)">
					                                <div class="crdprof clearfix">
					                                    <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
					                                    <div>
					                                        <h5>Alex Lima</h5>
					                                        <p class="p-0">Firefighting</p>
					                                    </div>
					                                </div>
					                                <div class="clifebx clearfix">
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                </div>
					                            </div>
				                        	</div>
				                        </li>
				                    </ul>
				                </div>
				                <span class="moveDrag"><i class="bi bi-arrows-move"></i></span>
		                	</li>
		                </ul>
	                </div>
		            <div class="text">
		            	<div class="row roofSect">
		            		<h4>Roof</h4>
			                <ul id="sortable1" class='droptrue topBoxSection'>
			                	<li id="roof" data-filter-item data-filter-name="roof">
			                		<!-- <div class="listBlock">
					                    <ul id="sortable2" class='droptrue topBoxSection'></ul>
					                </div> -->
			                	</li>
			                </ul>
		            	</div>
		            	<div class="row">
			                <ul id="sortable2" class='droptrue topBoxSection'>
			                	<li id="topPanel" data-filter-item data-filter-name="topPanel">
			                		<!-- <div class="listBlock">
					                    <ul id="sortable2" class='droptrue topBoxSection'></ul>
					                </div> -->
			                	</li>
			                </ul>
		            	</div>
		                <div class="row middileBox">
		                	<ul id="sortable1" class='droptrue leftSec'>
		                		<li id="leftPanel" data-filter-item data-filter-name="leftPanel">
		                			
		                		</li>
		                	</ul>
		                	<div class="leftDirection">
	                			<h3>West</h3>
	                		</div>
			                <div class="centerBox">
			                	<div class="direcation">
			                		<div class="row">
			                			<h3>North</h3>
			                		</div>
			                		<div class="centerHome">
					                	<img src="images/house-image.png">
					                </div>
					                <div class="row">
			                			<h3>South</h3>
			                		</div>
			                	</div>
			                </div>
			                <div class="rightDirection">
			                	<h3>East</h3>
			                </div>
			                <ul id="sortable1" class='droptrue rightSec'>
			                	<li id="rghitPanel" data-filter-item data-filter-name="rghitPanel">
			                		
			                	</li>
			                </ul>
		                </div>
		                <div class="row">
			                <ul id="sortable2" class='droptrue topBoxSection'>
			                	<!-- <li id="bottomPanel" data-filter-item data-filter-name="bottomPanel">
			                		<div class="listBlock">
					                    <ul id="sortable2" class='droptrue topBoxSection'></ul>
					                </div>
			                	</li> -->
			                </ul>
		                </div>
		                <div class="row roofSect">
		                	<h4>Basement</h4>
			                <ul id="sortable1" class='droptrue topBoxSection'>
			                	<!-- <li id="bottomPanel" data-filter-item data-filter-name="bottomPanel">
			                		<div class="listBlock">
					                    <ul id="sortable2" class='droptrue topBoxSection'></ul>
					                </div>
			                	</li> -->
			                </ul>
		                </div>
		                <div class="row">
		                	<div class="middileBoxT">
			                	<div class="reserve">
			                		<h4>RESERVE</h4>
			                		<ul id="sortable1" class='droptrue'>
		                			</ul>
			                	</div>
			                	<div class="rehave">
			                		<h4>REHAB</h4>
			                		<ul id="sortable2" class='droptrue rehabss'>
		                			</ul>
			                	</div>
			                </div>
		                </div>
		                <br clear="both" />
		                
		            </div>
		            <div class="row staticDiv">
	                	<ul id="sortable1" class='droptrue leftSec'>
	                		<li id="leftPanel" data-filter-item data-filter-name="leftPanel">
	                			<div class="listBlock">
				                    <ul id="sortable1" class='droptrue'>
				                        <li id="car" data-filter-item data-filter-name="car">
				                        	<img src="images/trak.png">
				                        </li>
				                        <li id="truck" data-filter-item data-filter-name="truck">
				                        	<div class="userItem">
				                        		<div class="cardbox" id="drag3" draggable="true" ondragstart="drag(event)">
					                                <div class="crdprof clearfix">
					                                    <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
					                                    <div>
					                                        <h5>Alex Lima</h5>
					                                        <p class="p-0">Firefighting</p>
					                                    </div>
					                                </div>
					                                <div class="clifebx clearfix">
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                </div>
					                            </div>
				                        	</div>
				                        </li>
				                        <li id="train" data-filter-item data-filter-name="train">
				                        	<div class="userItem">
				                        		<div class="cardbox" id="drag3" draggable="true" ondragstart="drag(event)">
					                                <div class="crdprof clearfix">
					                                    <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
					                                    <div>
					                                        <h5>Alex Lima</h5>
					                                        <p class="p-0">Firefighting</p>
					                                    </div>
					                                </div>
					                                <div class="clifebx clearfix">
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                </div>
					                            </div>
				                        	</div>
				                        </li>
				                        <li id="bicycle" data-filter-item data-filter-name="bicycle">
				                        	<div class="userItem">
				                        		<div class="cardbox" id="drag3" draggable="true" ondragstart="drag(event)">
					                                <div class="crdprof clearfix">
					                                    <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
					                                    <div>
					                                        <h5>Alex Lima</h5>
					                                        <p class="p-0">Firefighting</p>
					                                    </div>
					                                </div>
					                                <div class="clifebx clearfix">
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                </div>
					                            </div>
				                        	</div>
				                        </li>
				                    </ul>
				                </div>
				                <span class="moveDrag"><i class="bi bi-arrows-move"></i></span>
	                		</li>
	                	</ul>
	                	<ul id="sortable1" class='droptrue rightSec'>
		                	<li id="rghitPanel" data-filter-item data-filter-name="rghitPanel">
		                		<div class="listBlock">
				                    <ul id="sortable3" class='droptrue'>
				                    	<li id="car" data-filter-item data-filter-name="car">
				                    		<img src="images/trak.png">
				                    	</li>
				                        <li id="truck" data-filter-item data-filter-name="truck">
				                        	<div class="userItem">
				                        		<div class="cardbox" id="drag3" draggable="true" ondragstart="drag(event)">
					                                <div class="crdprof clearfix">
					                                    <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
					                                    <div>
					                                        <h5>Alex Lima</h5>
					                                        <p class="p-0">Firefighting</p>
					                                    </div>
					                                </div>
					                                <div class="clifebx clearfix">
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                </div>
					                            </div>
				                        	</div>
				                        </li>
				                        <li id="train" data-filter-item data-filter-name="train">
				                        	<div class="userItem">
				                        		<div class="cardbox" id="drag3" draggable="true" ondragstart="drag(event)">
					                                <div class="crdprof clearfix">
					                                    <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
					                                    <div>
					                                        <h5>Alex Lima</h5>
					                                        <p class="p-0">Firefighting</p>
					                                    </div>
					                                </div>
					                                <div class="clifebx clearfix">
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                </div>
					                            </div>
				                        	</div>
				                        </li>
				                        <li id="bicycle" data-filter-item data-filter-name="bicycle">
				                        	<div class="userItem">
				                        		<div class="cardbox" id="drag3" draggable="true" ondragstart="drag(event)">
					                                <div class="crdprof clearfix">
					                                    <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
					                                    <div>
					                                        <h5>Alex Lima</h5>
					                                        <p class="p-0">Firefighting</p>
					                                    </div>
					                                </div>
					                                <div class="clifebx clearfix">
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                </div>
					                            </div>
				                        	</div>
				                        </li>
				                    </ul>
				                </div>
				                <span class="moveDrag"><i class="bi bi-arrows-move"></i></span>
		                	</li>
		                </ul>
	                </div>
		        </div>
		    </div>
		</div>
	</section>

<script>
	function addDriverToWork(draggedDivId, containerDivId) {
		// Use draggedDivId and containerDivId in your logic
		console.log('Dragged Div ID:', draggedDivId);
		console.log('Container Div ID:', containerDivId);

		const data = {
		draggedDivId: draggedDivId,
		containerDivId: containerDivId
		};

		fetch('/assign-task', {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json'
		},
		body: JSON.stringify(data)
		})
		.then(response => response.json())
		.then(result => {
		// Handle the result from the server if needed
		console.log('Server response:', result);
		})
		.catch(error => {
		console.error('Error:', error);
		});
	}

	
</script>