{{!-- {{>sidebar}} --}}
<style>
.low-battery {
    background-color: red !important; /* Use !important to override other styles if needed */
}
</style>

<div class="mainScreen">
	<input type="hidden" id="incidentId" value="{{ incidentId }}">
		<div class="row marginBottom">
			<div class="fighterListing carListing">
				<ul id="sortable1" class='droptrue'>
            		<li id="leftPanel" data-filter-item data-filter-name="leftPanel">
            			<div class="listBlock">
		                    <ul id="sortable1" class='droptrue'>

								{{#each users }}
								{{#unless (isUserAssigned _id assignedTaskUsers)}}
								{{!-- {{#unless (isUserAssigned this._id assignedTaskUsers) }} --}}
		                        <li id="{{ _id }}" data-filter-item data-filter-name="car">
		                        	<div class="userItem">
		                        		<i class="bi bi-person"></i>
		                        		<h3>{{ name }}</h3>
		                        		<div class="fighterBattre">
											{{#generateSequence battery }}
		                        			    <span></span>
											{{/generateSequence }}
		                        		</div>
		                        	</div>
		                        </li>
								 {{!-- {{/unless}} --}}
								 {{/unless}}
								{{/each}}

		                    </ul>
		                </div>
		                <span class="moveDrag"><i class="bi bi-arrows-move"></i></span>
            		</li>
            	</ul>
			</div>
		</div>

		{{#each vehiclesWithUsers }}
		<div class="row marginBottom">
			<div class="carListing">
				<ul id="{{ vehicle._id }}" class='droptrue'>
            		<li id="leftPanel_{{ vehicle._id }}" data-filter-item data-filter-name="leftPanel_{{ vehicle._id }}">
            			<div class="listBlock">
		                    <ul id="{{ vehicle._id }}" class='droptrue'>
		                        <li id="car_{{ vehicle._id }}" data-filter-item data-filter-name="car">
		                        	<img src="{{ baseUrl }}/uploads/{{ vehicle.image }}">
		                        </li>
								{{#if new_users }}
		                        {{#each new_users}}
											<li id="{{ _id }}" data-filter-item data-filter-name="car">
											<div class="userItem">
												<i class="bi bi-person"></i>
												<h3>{{ name }}</h3>
												<div class="fighterBattre">
													{{#generateSequence battery }}
														<span></span>
													{{/generateSequence }}
												</div>
											</div>
		                                   </li>
                                {{/each}}
								{{/if}}
		                    </ul>
		                </div>
		                <span class="moveDrag"><i class="bi bi-arrows-move"></i></span>
            		</li>
            	</ul>
			</div>
		</div>
		{{/each}}


		<div class="row secoundStep" id="secondStep">
			<div class="leftside">
				<ul id="sortable1" class='droptrue carfeildList leftpanel sortable11'>
					{{#each leftTaskUsers }}
					
					<li id="car_{{ vehicle3._id }}" data-filter-item data-filter-name="car">
		                        	<img src="{{ baseUrl }}/uploads/{{ vehicle3.image }}">
		                        </li>
								{{#if new_users2 }}
		                        {{#each new_users2}}
											<li id="{{ _id }}" data-filter-item data-filter-name="car">
											<div class="userItem">
												<i class="bi bi-person"></i>
												<h3>{{ name }}</h3>
												<div class="fighterBattre">
													{{#generateSequence battery }}
														<span></span>
													{{/generateSequence }}
												</div>
											</div>
		                                   </li>
                                {{/each}}
								{{/if}}
								
					{{/each }}
				</ul>
			</div>
			<div class="building">
				<h4>Roof</h4>
				{{!-- <div class="leftside">
					<ul id="sortable1" class='droptrue carfeildList leftpanel'></ul>
				</div> --}}
				<img src="{{ baseUrl }}/assets/frontend/image/house.png">
				{{!-- <div class="leftside">
					<ul id="sortable1" class='droptrue carfeildList leftpanel'></ul>
				</div> --}}
				<h4>Basement</h4>
			</div>
			<div class="rightside">
				<ul id="sortable1" class='droptrue carfeildList rigfhtpanel sortable12'>
					{{#each rightTaskUsers }}
					<li id="car_{{ vehicle3._id }}" data-filter-item data-filter-name="car">
		                        	<img src="{{ baseUrl }}/uploads/{{ vehicle3.image }}">
		                        </li>
								{{#if new_users2 }}
		                        {{#each new_users2}}
											<li id="{{ _id }}" data-filter-item data-filter-name="car">
											<div class="userItem">
												<i class="bi bi-person"></i>
												<h3>{{ name }}</h3>
												<div class="fighterBattre">
													{{#generateSequence battery }}
														<span></span>
													{{/generateSequence }}
												</div>
											</div>
		                                   </li>
                                {{/each}}
								{{/if}}
					{{/each }}
				</ul>
			</div>
		</div>

		<div class="row therdStep">
			<div class="carGareg">
				<h4 class="headdingRes">Reserve Vehicle</h4>
				<ul id="sortable1" class='droptrue careserve'>

					{{#each vehiclesWithUsers }}
					<li id="car" data-filter-item data-filter-name="car">
                    	<img src="{{ baseUrl }}/uploads/{{ vehicle.image }}">
                    	<span>{{ vehicle.modelNo }}</span>
                    </li>
					{{/each }}
				</ul>
			</div>
			<div class="carGareg">
				<h4 class="headdingRes">Reserve FireFighter</h4>
				<ul id="sortable1" class='droptrue reserveFire'>
					<li id="leftPanel" data-filter-item data-filter-name="leftPanel">
            			<div class="listBlock">

		                    <ul id="sortable1" class='droptrue'>

								{{#each reserveUsers}}
		                        <li id="{{ _id }}" data-filter-item data-filter-name="car">
		                        	<div class="userItem">
		                        		<i class="bi bi-person"></i>
		                        		<h3>{{name}}</h3>
		                        		<div class="fighterBattre">
		                        			{{#generateSequence battery }}
		                        			    <span></span>
											{{/generateSequence }}
		                        		</div>
		                        	</div>
		                        </li>
								{{/each}}

		                    </ul>
		                </div>
		                <span class="moveDrag"><i class="bi bi-arrows-move"></i></span>
            		</li>
				</ul>
			</div>
			<div class="carGareg">
				<h4 class="headdingRes">Rehabilitation zone</h4>
				<ul id="rehabilitation" class='droptrue reserveFire rehabition'>
					<li id="leftPanel" data-filter-item data-filter-name="leftPanel">
            			<div class="listBlock">
		                    {{!-- <ul id="sortable1" class='droptrue'> --}}
		                    <ul id="rehabilitation" class='droptrue rehabilitation1'>

                               {{#each rehabilitatedAllUsers }}
		                        <li id="car" data-filter-item data-filter-name="car">
		                        	<div class="userItem">
		                        		<i class="bi bi-person"></i>
		                        		<h3>{{ name }}</h3>
		                        		<div class="fighterBattred">
		                        			{{#generateSequence battery }}
		                        			    <span></span>
											{{/generateSequence }}
		                        		</div>
		                        	</div>
		                        </li>
								{{/each}}

		                    </ul>
		                </div>
		                <span class="moveDrag"><i class="bi bi-arrows-move"></i></span>
            		</li>
				</ul>
			</div>
		</div>
	</div>


	<section class="banner d-none">
		<div id="maincontainer">
		    <div id="navtoplistline">&nbsp;</div>
		    <div id="contentwrapper">
		        <div id="maincolumn">
		        	<div class="row staticDiv">
	                	<ul id="sortable1" class='droptrue leftSec'>
	                		<li id="leftPanel" data-filter-item data-filter-name="leftPanel">
	                			<div class="listBlock">
				                    <ul id="sortable1" class='droptrue'>
				                        <li id="car" data-filter-item data-filter-name="car">
				                        	<img src="images/trak.png">
				                        </li>
				                        <li id="truck" data-filter-item data-filter-name="truck">
				                        	<div class="userItem">
				                        		<div class="cardbox" id="drag3" draggable="true" ondragstart="drag(event)">
					                                <div class="crdprof clearfix">
					                                    <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
					                                    <div>
					                                        <h5>Alex Lima</h5>
					                                        <p class="p-0">Firefighting</p>
					                                    </div>
					                                </div>
					                                <div class="clifebx clearfix">
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                </div>
					                            </div>
				                        	</div>
				                        </li>
				                        <li id="train" data-filter-item data-filter-name="train">
				                        	<div class="userItem">
				                        		<div class="cardbox" id="drag3" draggable="true" ondragstart="drag(event)">
					                                <div class="crdprof clearfix">
					                                    <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
					                                    <div>
					                                        <h5>Alex Lima</h5>
					                                        <p class="p-0">Firefighting</p>
					                                    </div>
					                                </div>
					                                <div class="clifebx clearfix">
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                </div>
					                            </div>
				                        	</div>
				                        </li>
				                        <li id="bicycle" data-filter-item data-filter-name="bicycle">
				                        	<div class="userItem">
				                        		<div class="cardbox" id="drag3" draggable="true" ondragstart="drag(event)">
					                                <div class="crdprof clearfix">
					                                    <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
					                                    <div>
					                                        <h5>Alex Lima</h5>
					                                        <p class="p-0">Firefighting</p>
					                                    </div>
					                                </div>
					                                <div class="clifebx clearfix">
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                </div>
					                            </div>
				                        	</div>
				                        </li>
				                    </ul>
				                </div>
				                <span class="moveDrag"><i class="bi bi-arrows-move"></i></span>
	                		</li>
	                	</ul>
	                	<div class="topMiddile">
	                		<div class="headinText">
		                		<h1>Incident Management Screen</h1>
		                	</div>
		                	<div class="headingSec">
		                		<button class="startBtn">Start</button>
		                		<button class="endBtn">End</button>
		                	</div>
	                	</div>
	                	<ul id="sortable1" class='droptrue rightSec'>
		                	<li id="rghitPanel" data-filter-item data-filter-name="rghitPanel">
		                		<div class="listBlock">
				                    <ul id="sortable3" class='droptrue'>
				                    	<li id="car" data-filter-item data-filter-name="car">
				                    		<img src="https://media.istockphoto.com/photos/ambulance-car-isolated-on-white-picture-id1310709685?b=1&k=20&m=1310709685&s=170667a&w=0&h=7XfqzGhmPrZN6qaL7o_krZDm-Tna24KvuZnMJ9g0jt8=">
				                    	</li>
				                        <li id="truck" data-filter-item data-filter-name="truck">
				                        	<div class="userItem">
				                        		<div class="cardbox" id="drag3" draggable="true" ondragstart="drag(event)">
					                                <div class="crdprof clearfix">
					                                    <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
					                                    <div>
					                                        <h5>Alex Lima</h5>
					                                        <p class="p-0">Firefighting</p>
					                                    </div>
					                                </div>
					                                <div class="clifebx clearfix">
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                </div>
					                            </div>
				                        	</div>
				                        </li>
				                        <li id="train" data-filter-item data-filter-name="train">
				                        	<div class="userItem">
				                        		<div class="cardbox" id="drag3" draggable="true" ondragstart="drag(event)">
					                                <div class="crdprof clearfix">
					                                    <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
					                                    <div>
					                                        <h5>Alex Lima</h5>
					                                        <p class="p-0">Firefighting</p>
					                                    </div>
					                                </div>
					                                <div class="clifebx clearfix">
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                </div>
					                            </div>
				                        	</div>
				                        </li>
				                        <li id="bicycle" data-filter-item data-filter-name="bicycle">
				                        	<div class="userItem">
				                        		<div class="cardbox" id="drag3" draggable="true" ondragstart="drag(event)">
					                                <div class="crdprof clearfix">
					                                    <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
					                                    <div>
					                                        <h5>Alex Lima</h5>
					                                        <p class="p-0">Firefighting</p>
					                                    </div>
					                                </div>
					                                <div class="clifebx clearfix">
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                </div>
					                            </div>
				                        	</div>
				                        </li>
				                    </ul>
				                </div>
				                <span class="moveDrag"><i class="bi bi-arrows-move"></i></span>
		                	</li>
		                </ul>
	                </div>
		            <div class="text">
		            	<div class="row roofSect">
		            		<h4>Roof</h4>
			                <ul id="sortable1" class='droptrue topBoxSection'>
			                	<li id="roof" data-filter-item data-filter-name="roof">
			                		<!-- <div class="listBlock">
					                    <ul id="sortable2" class='droptrue topBoxSection'></ul>
					                </div> -->
			                	</li>
			                </ul>
		            	</div>
		            	<div class="row">
			                <ul id="sortable2" class='droptrue topBoxSection'>
			                	<li id="topPanel" data-filter-item data-filter-name="topPanel">
			                		<!-- <div class="listBlock">
					                    <ul id="sortable2" class='droptrue topBoxSection'></ul>
					                </div> -->
			                	</li>
			                </ul>
		            	</div>
		                <div class="row middileBox">
		                	<ul id="sortable1" class='droptrue leftSec'>
		                		<li id="leftPanel" data-filter-item data-filter-name="leftPanel">
		                			
		                		</li>
		                	</ul>
		                	<div class="leftDirection">
	                			<h3>West</h3>
	                		</div>
			                <div class="centerBox">
			                	<div class="direcation">
			                		<div class="row">
			                			<h3>North</h3>
			                		</div>
			                		<div class="centerHome">
					                	<img src="images/house-image.png">
					                </div>
					                <div class="row">
			                			<h3>South</h3>
			                		</div>
			                	</div>
			                </div>
			                <div class="rightDirection">
			                	<h3>East</h3>
			                </div>
			                <ul id="sortable1" class='droptrue rightSec'>
			                	<li id="rghitPanel" data-filter-item data-filter-name="rghitPanel">
			                		
			                	</li>
			                </ul>
		                </div>
		                <div class="row">
			                <ul id="sortable2" class='droptrue topBoxSection'>
			                	<!-- <li id="bottomPanel" data-filter-item data-filter-name="bottomPanel">
			                		<div class="listBlock">
					                    <ul id="sortable2" class='droptrue topBoxSection'></ul>
					                </div>
			                	</li> -->
			                </ul>
		                </div>
		                <div class="row roofSect">
		                	<h4>Basement</h4>
			                <ul id="sortable1" class='droptrue topBoxSection'>
			                	<!-- <li id="bottomPanel" data-filter-item data-filter-name="bottomPanel">
			                		<div class="listBlock">
					                    <ul id="sortable2" class='droptrue topBoxSection'></ul>
					                </div>
			                	</li> -->
			                </ul>
		                </div>
		                <div class="row">
		                	<div class="middileBoxT">
			                	<div class="reserve">
			                		<h4>RESERVE</h4>
			                		<ul id="sortable1" class='droptrue'>
		                			</ul>
			                	</div>
			                	<div class="rehave">
			                		<h4>REHAB</h4>
			                		<ul id="sortable2" class='droptrue rehabss'>
		                			</ul>
			                	</div>
			                </div>
		                </div>
		                <br clear="both" />
		                
		            </div>
		            <div class="row staticDiv">
	                	<ul id="sortable1" class='droptrue leftSec'>
	                		<li id="leftPanel" data-filter-item data-filter-name="leftPanel">
	                			<div class="listBlock">
				                    <ul id="sortable1" class='droptrue'>
				                        <li id="car" data-filter-item data-filter-name="car">
				                        	<img src="images/trak.png">
				                        </li>
				                        <li id="truck" data-filter-item data-filter-name="truck">
				                        	<div class="userItem">
				                        		<div class="cardbox" id="drag3" draggable="true" ondragstart="drag(event)">
					                                <div class="crdprof clearfix">
					                                    <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
					                                    <div>
					                                        <h5>Alex Lima</h5>
					                                        <p class="p-0">Firefighting</p>
					                                    </div>
					                                </div>
					                                <div class="clifebx clearfix">
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                </div>
					                            </div>
				                        	</div>
				                        </li>
				                        <li id="train" data-filter-item data-filter-name="train">
				                        	<div class="userItem">
				                        		<div class="cardbox" id="drag3" draggable="true" ondragstart="drag(event)">
					                                <div class="crdprof clearfix">
					                                    <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
					                                    <div>
					                                        <h5>Alex Lima</h5>
					                                        <p class="p-0">Firefighting</p>
					                                    </div>
					                                </div>
					                                <div class="clifebx clearfix">
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                </div>
					                            </div>
				                        	</div>
				                        </li>
				                        <li id="bicycle" data-filter-item data-filter-name="bicycle">
				                        	<div class="userItem">
				                        		<div class="cardbox" id="drag3" draggable="true" ondragstart="drag(event)">
					                                <div class="crdprof clearfix">
					                                    <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
					                                    <div>
					                                        <h5>Alex Lima</h5>
					                                        <p class="p-0">Firefighting</p>
					                                    </div>
					                                </div>
					                                <div class="clifebx clearfix">
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                </div>
					                            </div>
				                        	</div>
				                        </li>
				                    </ul>
				                </div>
				                <span class="moveDrag"><i class="bi bi-arrows-move"></i></span>
	                		</li>
	                	</ul>
	                	<ul id="sortable1" class='droptrue rightSec'>
		                	<li id="rghitPanel" data-filter-item data-filter-name="rghitPanel">
		                		<div class="listBlock">
				                    <ul id="sortable3" class='droptrue'>
				                    	<li id="car" data-filter-item data-filter-name="car">
				                    		<img src="images/trak.png">
				                    	</li>
				                        <li id="truck" data-filter-item data-filter-name="truck">
				                        	<div class="userItem">
				                        		<div class="cardbox" id="drag3" draggable="true" ondragstart="drag(event)">
					                                <div class="crdprof clearfix">
					                                    <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
					                                    <div>
					                                        <h5>Alex Lima</h5>
					                                        <p class="p-0">Firefighting</p>
					                                    </div>
					                                </div>
					                                <div class="clifebx clearfix">
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                </div>
					                            </div>
				                        	</div>
				                        </li>
				                        <li id="train" data-filter-item data-filter-name="train">
				                        	<div class="userItem">
				                        		<div class="cardbox" id="drag3" draggable="true" ondragstart="drag(event)">
					                                <div class="crdprof clearfix">
					                                    <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
					                                    <div>
					                                        <h5>Alex Lima</h5>
					                                        <p class="p-0">Firefighting</p>
					                                    </div>
					                                </div>
					                                <div class="clifebx clearfix">
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                </div>
					                            </div>
				                        	</div>
				                        </li>
				                        <li id="bicycle" data-filter-item data-filter-name="bicycle">
				                        	<div class="userItem">
				                        		<div class="cardbox" id="drag3" draggable="true" ondragstart="drag(event)">
					                                <div class="crdprof clearfix">
					                                    <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
					                                    <div>
					                                        <h5>Alex Lima</h5>
					                                        <p class="p-0">Firefighting</p>
					                                    </div>
					                                </div>
					                                <div class="clifebx clearfix">
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                    <div class="clife"></div>
					                                </div>
					                            </div>
				                        	</div>
				                        </li>
				                    </ul>
				                </div>
				                <span class="moveDrag"><i class="bi bi-arrows-move"></i></span>
		                	</li>
		                </ul>
	                </div>
		        </div>
		    </div>
		</div>
	</section>

	<script>
		// Define your function
		function driverBatteryLevelChange() {

            let incidentId = $('#incidentId').val();
			fetch('/battery-check/'+incidentId)
			.then(response => {
				if (!response.ok) {
					throw new Error('Network response was not ok');
				}
				return response.json();
			})
			.then(data => {
				leftPanelChange(data, data.leftTaskUsers, 'leftpanel');
                rightPanelChange(data, data.rightTaskUsers, 'rigfhtpanel');
			})
			.catch(error => {
				// Handle errors
				console.error('Error:', error);
			});

		}

		// Call the function every 5 seconds after the page loads
		window.onload = function() {
			  setInterval(driverBatteryLevelChange, 10000); // 5000 milliseconds = 5 seconds
			  
			  /* For Display the Rehabilitiate User's BAtteryLevel Automatically */
			  setInterval(displayRehabilitiatedBattery, 10000);
		};

		/*
		Left Panel User Details Show Automatically
		*/

		function leftPanelChange(data, taskUsers, sortableId) {
			const sortable = $(`.${sortableId}`);
			
			const leftTaskUsers = data.leftTaskUsers;
			// sortable.empty();
			sortable.children(':not([id^="car_"])').remove();

			// Function to generate battery icons
			 function generateBatteryIcons(battery) {
				return Array.from({ length: battery }, () => '<span></span>').join('');
			}

			const usersWithLowBattery = [];

			// Function to append user item
			function appendUserItem(user) {
				let fighterBattreClass = '';

				if (user.battery < 3) {
					fighterBattreClass = 'low-battery';
					usersWithLowBattery.push(user.name);
                    lowBAtteryLevelAlert(usersWithLowBattery);
				}

				sortable.append(`
					<li id="${user._id}" data-filter-item data-filter-name="car">
						<div class="userItem">
							<i class="bi bi-person"></i>
							<h3>${user.name}</h3>
							<div class="fighterBattre ${fighterBattreClass}">
								${generateBatteryIcons(user.battery)}
							</div>
						</div>
					</li>
				`);
			}

			// Iterate over leftTaskUsers and append list items
			leftTaskUsers.forEach(user => {
				appendUserItem(user);
			});

		} 

	/*
	   Right Panel User Details Show Automatically
	*/

	 function rightPanelChange(data, taskUsers, sortableId) {
			const sortable = $(`.${sortableId}`);
			
			const leftTaskUsers = data.rightTaskUsers;

			// Clear existing list items
			// sortable.empty();
            sortable.children(':not([id^="car_"])').remove();

			// Function to generate battery icons
			 function generateBatteryIcons(battery) {
				return Array.from({ length: battery }, () => '<span></span>').join('');
			}

            const usersWithLowBattery = [];

			// Function to append user item
			async function appendUserItem(user) {
				let fighterBattreClass = '';
				
				if (user.battery < 3) {
					fighterBattreClass = 'low-battery';
					usersWithLowBattery.push(user.name);
					await delay(500);
                    lowBAtteryLevelAlert(usersWithLowBattery);
				}
				sortable.append(`
					<li id="${user._id}" data-filter-item data-filter-name="car">
						<div class="userItem">
							<i class="bi bi-person"></i>
							<h3>${user.name}</h3>
							<div class="fighterBattre ${fighterBattreClass}">
								${generateBatteryIcons(user.battery)}
							</div>
						</div>
					</li>
				`);

			}

			// Iterate over leftTaskUsers and append list items
			leftTaskUsers.forEach(user => {
				appendUserItem(user);
			});

		} 

		function delay(ms) {
          return new Promise(resolve => setTimeout(resolve, ms));
        }

		async function lowBAtteryLevelAlert(name){
			const names = Object.values(name);

            await delay(200);
			if(names.length > 1){
                length = (names.length -1);
			}else{
				length = 1;
			}

             for(let i=0; i<=length; i++){
				if(names[i] !== undefined){
					await delay(500);
					await Swal.fire({
						icon: 'warning',
						title: 'Battery Level is Low',
						text: `${names[i]}'s battery level is low.`,
						confirmButtonText: 'OK',
						allowOutsideClick: false
					});
				}
			}; 
		}

		/*  */
		function displayRehabilitiatedBattery(){
			let incidentId = $('#incidentId').val();

			const data = {
				incidentId: incidentId,
			};
			fetch('/rehabilitation-content', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(data)
			})
			.then(response => response.json())
			.then(result => {
			// Handle the result from the server if needed
			const sortable = $(`.rehabilitation1`);
			sortable.empty();

			const users = result.users;
			users.forEach(user => {
				displayRehabUsersList(user);
			});

			// Function to generate battery icons
			 function generateBatteryIcons(battery) {
				return Array.from({ length: battery }, () => '<span></span>').join('');
			}

			function displayRehabUsersList(user){
				let fighterBattreClass = '';
                sortable.append(`
					<li id="${user._id}" data-filter-item data-filter-name="car">
						<div class="userItem">
							<i class="bi bi-person"></i>
							<h3>${user.name}</h3>
							<div class="fighterBattre ${fighterBattreClass}">
								${generateBatteryIcons(user.battery)}
							</div>
						</div>
					</li>
				`);
			}

			/* setTimeout(function() {
				// $('.rehabilitation1').html(response);
				location.reload();
			}, 500); */

			console.log('Server response:', result);
			})
			.catch(error => {
			console.error('Error:', error);
			});
		}
	</script>