{{>sidebar}}

<main id="main" class="main">

<h3>Change Password</h3>

{{#if errorMessage}}
    <p class="alert alert-danger alert-dismissible fade show">{{ errorMessage }}</p>
{{/if}}

{{#if successMessage}}
    <p class="alert alert-success alert-dismissible">{{ successMessage }}</p>
{{/if}}

<div class="tab-pane p-3 border border-5" id="profile-change-password">
        <!-- Change Password Form -->
        <form action="{{ baseUrl }}/admin/driver/change/password/action/{{ userId }}" method="post">

        {{!-- <input type="text" name="userId" id="userId" value="{{ userId }}"> --}}
        <div class="row mb-3">
            <label for="name" class="col-md-4 col-lg-3 col-form-label">Old Password *</label>
            <div class="col-md-8 col-lg-9">
            <input name="old_password" type="password" class="form-control" id="old_password" required>
            </div>
        </div>

        <div class="row mb-3">
            <label for="username" class="col-md-4 col-lg-3 col-form-label">New Password *</label>
            <div class="col-md-8 col-lg-9">
            <input name="new_password" type="password" class="form-control" id="new_password" required>
            </div>
        </div>

        <div class="row mb-3">
            <label for="phone" class="col-md-4 col-lg-3 col-form-label">Confirm Password *</label>
            <div class="col-md-8 col-lg-9">
            <input name="confirm_password" type="password" class="form-control" id="confirm_password" required>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Change Password</button>
        </div>
        </form>

</div>
</main>