{{>sidebar}}

<main id="main" class="main">

    <div class="pagetitle">

    <h2>All Drivers</h2>
    <div class="container">
    <table class="dataTable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    {{#each users}}
                    <tr>
                        <th scope="row">{{addOne @index}}</th>
                        <td>{{ name }}</td>
                        <td>{{ email }}</td>
                        <td>{{ phone }}</td>
                        <td>
                            <a href="#"><button class="btn btn-primary btn-sm">Edit</button></a>
                            <a href="{{ baseUrl }}/admin/driver/delete/{{ _id }}" onclick="confirm('Are You Sure, You Want To delete this User?')"><button class="btn btn-danger btn-sm">Delete</button></a>
                        </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
              </div>
</div>
</main>
