{{>sidebar}}


<main id="main" class="main">

<h3>Update Fire Fighter Info</h3>

<!-- Display error message if it exists -->
{{#if errorMessage}}
    <p class="alert alert-danger alert-dismissible fade show">{{ errorMessage }}</p>
{{/if}}

<!-- Display success message if it exists -->
{{#if successMessage}}
    <p class="alert alert-success alert-dismissible fade show">{{ successMessage }}</p>
{{/if}}


<div class="tab-pane p-3 border border-5" id="profile-change-password">
        <!-- Change Password Form -->
        <form action="{{ baseUrl }}/admin/fire-fighter/update/action/{{ user._id }}" method="post">

        <div class="row mb-3">
            <label for="name" class="col-md-4 col-lg-3 col-form-label">Name *</label>
            <div class="col-md-8 col-lg-9">
            <input name="name" type="text" class="form-control" id="name" value="{{ user.name }}" required>
            </div>
        </div>

        <div class="row mb-3">
            <label for="username" class="col-md-4 col-lg-3 col-form-label">User Name</label>
            <div class="col-md-8 col-lg-9">
            <input name="username" type="text" class="form-control" id="username" value="{{ user.username }}">
            </div>
        </div>

        <div class="row mb-3">
            <label for="phone" class="col-md-4 col-lg-3 col-form-label">Phone Number *</label>
            <div class="col-md-8 col-lg-9">
            <input name="phone" type="number" class="form-control" id="phone"  value="{{ user.phone }}" required>
            </div>
        </div>

        <div class="row mb-3">
            <label for="email" class="col-md-4 col-lg-3 col-form-label">Email *</label>
            <div class="col-md-8 col-lg-9">
            <input name="email" type="email" class="form-control" id="email"  value="{{ user.email }}" required>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
        </form><!-- End Change Password Form -->

</div>
</main>